.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}

body{
    line-height: 26px;
    font-size: 15px;
    font-family: $ral;
    font-weight: normal;
    color: $pfont;
}
h1, h2, h3, h4, h5, h6{ 
    font-family: $os; 
    font-weight: bold;
}

button:focus{
    outline: none;
	box-shadow: none;
}

.p_120{
	padding-top: 120px;
	padding-bottom: 120px;
}
.p_60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.pad_top{
	padding-top: 120px;
}
.mt-25{
	margin-top: 25px;
}
.p0{
	padding-left: 0px;
	padding-right: 0px;
}
.container{
    @media(min-width:1200px){
        max-width: 1170px;
    }
}
@media(min-width: 1620px){
	.box_1620{
		max-width: 1650px;
		margin: auto;
	}
}


@media(min-width: 1200px){
	.header_area.home_menu{
		display: none;
		& + section, & + row, & + div{
			margin-top: 0px;
		}
	}
}


/* Main Title Area css
============================================================================================ */
.main_title{
	text-align: left;
	margin-bottom: 75px;
	h2{
		font-family: $ral;
		font-size: 36px;
		color: $dip;
		font-weight: 700;
		margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		font-family: $ral;
		line-height: 26px;
		color: $pfont;
		margin-bottom: 0px;
		max-width: 690px;
		font-weight: normal;
	}
	&.white{
		h2{
			color: #fff;
		}
		p{
			color: #fff;
			opacity: .6;
		}
	}
}

/* End Main Title Area css
============================================================================================ */



