<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="show-bank-credentials">
    <template>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />
        
        <div class="login_container col-lg-3">
            <div class="blog_right_sidebar" style="width: 300px;">

                <template is="dom-if" if="{{usuario_bbva}}">
                    <h4>Modifica tus credenciales de otros bancos</h4>
                </template>
                <template is="dom-if" if="{{!usuario_bbva}}">
                    <template is="dom-if" if="{{bbva_user}}">
                        <h4>Modifica tus credenciales de otros bancos</h4>
                    </template>
                    <template is="dom-if" if="{{!bbva_user}}">
                        <h4>¿Aún no tienes dados de alta tus otros bancos?</h4>
                    </template> 
                </template>

                <div class="input-group-icon mt-10" style="text-align: right">
                    <template is="dom-if" if="{{user_id}}">
                        <a href="/profile/{{user_id}}/create/bank" class="genric-btn info circle arrow">Comenzar<span
                                class="lnr lnr-arrow-right"></span></a>
                    </template>
                    <template is="dom-if" if="{{!user_id}}">
                        <a href="/profile/{{id_user}}/create/bank" class="genric-btn info circle arrow">Comenzar<span
                                class="lnr lnr-arrow-right"></span></a>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class ShowBankCredentials extends SessionMixin(Polymer.Element) {

            static getUserParam(param) {
                console.log("login - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');

                if (user) {
                    if (param == "isLogged") {
                        return true;
                    } else {
                        var jsonUser = JSON.parse(user);

                        if(param == "bbva"){
                            var bbvaUser = jsonUser[param];
                            if(typeof(bbvaUser) != 'undefined' && typeof(bbvaUser.usuario) != 'undefined'){
                                return true;
                            }
                            return false;
                        }

                        return jsonUser[param]
                    }
                }

                return null;
            }

            static get is() { return 'show-bank-credentials'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                var supProp = super.properties;
                return Object.assign({}, supProp, {
                    user_id: {
                        type: Number,
                        value: this.getUserParam("id_user")
                    },
                    usuario_bbva: {
                        type: Boolean,
                        value: this.getUserParam("bbva")
                    },
                    errors: {
                        type: Boolean,
                        value: false
                    },
                    errorsList: {
                        type: Array
                    }
                });
            }
        }

        window.customElements.define(ShowBankCredentials.is, ShowBankCredentials);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>