<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="show-dashboard">
  <template>
    <script>
      document.getElementById("home_banner_area").style.display = "none";
      document.getElementById("login_area").style.display = "none";
      document.getElementById("bank_credentials_area").style.display = "block";
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <style>
      .last_access_container {
        content: "";
        /* width: 360px; */
        height: 70px;
        background: rgba(167, 203, 0, .80);
        position: absolute;
        right: 0px;
        z-index: 2;
        padding: 10px;
        color: white;
        text-align: right;
        font-weight: bold;
      }
    </style>

    <br /><br /><br /><br />
    <template is="dom-if" if="{{user_id}}">
      <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{user_id}}" handle-as="json"
        on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
    </template>
    <template is="dom-if" if="{{!user_id}}">
      <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}" handle-as="json"
        on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
    </template>

    <!--================Last Access Area =================-->
    <div class="last_access_container" hidden$="{{!existLAD}}">
      Último acceso:<br />
      [[last_acces_date]]
    </div>
    <!--================End Last Access Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area bussines_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content">
            <div class="page_link">
              <a href="/index.html">Home</a>
              <a href="javascript:void(0);">Dashboard</a>
            </div>
            <h2>Tus cuentas</h2><br /><br />
            Hola [[display_name]], a continuación te mostramos el detalle de tus cuentas:
            <br />
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!-- Vamos aintentar sustituir la tabla by default de países por las cuentas del usuario logado... -->
    <!-- Si está logado vía evento -->
    <template is="dom-if" if="{{user_id}}">
      <iron-ajax auto id="getUserAccounts" url="{{urlBackend}}/techu-bpjjsa/v1/accounts?id_user={{user_id}}" handle-as="json"
        on-response="showDataAccounts" with-credentials="true" on-error="showErrorAccounts"></iron-ajax>
    </template>
    <!-- Si está logado vía local_storage (cambia el user_id por id_user) -->
    <template is="dom-if" if="{{!user_id}}">
      <iron-ajax auto id="getUserAccounts" url="{{urlBackend}}/techu-bpjjsa/v1/accounts?id_user={{id_user}}" handle-as="json"
        on-response="showDataAccounts" with-credentials="true" on-error="showErrorAccounts"></iron-ajax>
    </template>

    <iron-ajax id="updateUserAccounts" url="{{urlBackend}}/techu-bpjjsa/v1/accounts?id_user={{id_user}}&refresh=true" handle-as="json"
      on-response="showDataAccounts" with-credentials="true" on-error="showErrorAccounts"></iron-ajax>

    <!-- Start Align Area -->
    <div class="whole-wrap">
      <div class="container">
        <div class="section-top-border">
          <div class="progress-table-wrap">
            <div class="progress-table">
              <template is="dom-if" if="{{accounts}}">
                  <div style="text-align: right"><a class="genric-btn info-border circle" href="javascript:void(0);"
                    on-click="updateAccounts">Actualizar&nbsp;<span class="lnr lnr-sync"></span></a></div>
                <div class="table-head">
                  <div class="serial">#</div>
                  <div class="country">Producto</div>
                  <div class="visit">IBAN</div>
                  <div class="percentage">Saldo</div>
                </div>
                <template is="dom-repeat" items="{{accounts}}">
                  <div class="table-row">
                    <div class="serial">{{_addAccountNumber()}}</div>
                    <div class="country">
                      <a href="/transactions/{{item.id}}">{{item.product.name}}</a>
                    </div>
                    <div class="visit">{{_getIBAN(item.formats)}}</div>
                    <div class="percentage">
                      {{_getFormatNumber(item.availableBalance.currentBalance.amount)}}&nbsp;{{item.availableBalance.currentBalance.currency}}
                    </div>
                  </div>
                </template>
                <div><br />Fecha de última actualización: {{{last_acces_update}}}</div>
              </template>
              <template is="dom-if" if="{{!accounts}}">
                <div style="text-align: center;">No existen cuentas asociadas</div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    //Dashboard = Parent => class Dashboard extends SessionMixin(Parent) {
    class Dashboard extends SessionMixin(Polymer.Element) {
      static get is() { return 'show-dashboard'; } // Nombre de la etiqueta HTML cuando la implementemos
      static get properties() {
        var supProp = super.properties;
        return Object.assign({}, supProp, {
          existLAD: {
            type: Boolean,
            value: false
          },
          accounts: {
            type: Array,
            value: null
          },
          accountNumber: {
            type: Number,
            value: 1
          },
          last_acces_update: {
            type: String
          }
        });
      }

      showData(data, request) {
        var response = data.detail.response;
        console.log("Respuesta: ");
        console.log(response); //esto llega del backend

        this.id_user = response.id_user;
        this.display_name = response.display_name;
        this.last_name = response.last_name;
        this.email = response.email;
        this.isLogged = true;

        if (typeof (response.bbva) != 'undefined' && typeof (response.bbva.user) != 'undefined') {
          this.bbva_user = response.bbva.user;
        } else {
          this.bbva_user = null;
        }

        console.log("this.bbva_user: ");
        console.log(this.bbva_user);

        if (response.last_acces_date != null) {
          this.existLAD = true;
          var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
          this.last_acces_date = (new Date(response.last_acces_date)).toLocaleDateString("es-ES", options);
        }

        window.localStorage.setItem('user', JSON.stringify(response));

        // Enviamos evento de login
        var message = {};
        message = {
          id_user: this.id_user,
          isLogged: true,
          display_name: this.display_name,
          last_name: this.last_name,
          email: this.email,
          last_acces_date: this.last_acces_date,
          bbva_user: this.bbva_user
        }

        this.dispatch('updateReduxSession', message);
      }

      showError(error) {
        console.log("Error al procesar la petición");
        console.log(error.detail.error.message);
        console.log(error.detail.request.response);

        var errors = "";
        var eList = error.detail.request.response;

        for (var i in eList) {
          errors = eList[i].msg + "\n";
        }

        if (errors.length > 0) {
          alert(errors)
          top.location = "/index.html";
        }
      }

      showDataAccounts(data, request) {
        var response = data.detail.response;
        console.log("Respuesta: ");
        console.log(response); //esto llega del backend

        this.accounts = response.items;

        if (response.last_acces_update != null) {
          var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
          this.last_acces_update = (new Date(response.last_acces_update)).toLocaleDateString("es-ES", options);
        }
      }

      showError(error) {
        console.log("Error al procesar la petición");
        console.log(error.detail.error.message);
        console.log(error.detail.request.response);
      }

      _addAccountNumber() {
        return this.accountNumber++;
      }

      _getIBAN(accountFormats) {
        console.log("_getIBAN");
        console.log(accountFormats);
        return accountFormats[2].number;
      }

      _getFormatNumber(amount) {
        return amount.toLocaleString();
      }

      updateAccounts() {
        console.log("GET updateAccounts");
        // enviamos la peticion
        this.$.updateUserAccounts.generateRequest();
      }
    }

    window.customElements.define(Dashboard.is, Dashboard);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>