    <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="show-transactions">
    <template>
        <script>
            document.getElementById("home_banner_area").style.display = "none";
            document.getElementById("login_area").style.display = "none";
            document.getElementById("bank_credentials_area").style.display = "none";
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <style>
            .last_access_container {
                content: "";
                /* width: 360px; */
                height: 70px;
                background: rgba(167, 203, 0, .80);
                position: absolute;
                right: 0px;
                z-index: 2;
                padding: 10px;
                color: white;
                text-align: right;
                font-weight: bold;
            }
        </style>

        <br /><br /><br /><br />
        <!--================Last Access Area =================-->
        <div class="last_access_container" hidden$="{{!last_acces_date}}">
            Último acceso:<br />
            [[last_acces_date]]
        </div>
        <!--================End Last Access Area =================-->

        <!--================Home Banner Area =================-->
        <section class="banner_area bussines_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content">
                        <div class="page_link">
                            <a href="/index.html">Home</a>
                            <a href="javascript:void(0);">Dashboard</a>
                        </div>
                        <h2>Tus movimientos</h2><br /><br />
                        <template is="dom-if" if="{{!product_name}}">
                            A continuación te mostramos el detalle de tus movimientos:
                        </template>
                        <template is="dom-if" if="{{product_name}}">
                            A continuación te mostramos el detalle de tus movimientos en la cuenta: <span style="font-weight: bold">"{{product_name}}"</span>&nbsp;<span style="font-size: smaller">({{iban}})</span>
                        </template>
                        <br />
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!-- Vamos aintentar sustituir la tabla by default de países por las tx de la cuenta del usuario logado... -->       
        <template is="dom-if" if="{{acccount_id}}">
            <iron-ajax auto id="getTransactionsByAccountId" url="{{urlBackend}}/techu-bpjjsa/v1/accounts/{{acccount_id}}" handle-as="json"
                on-response="showTransactionsDataAccount" with-credentials="true" on-error="showErrorAccounts"></iron-ajax>
        </template>

        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container">
                <div class="section-top-border">
                    <div class="progress-table-wrap">
                        <div class="progress-table">
                            <div style="text-align: right;"><a href="javascript:window.history.back();" class="genric-btn danger-border circle arrow" style="padding-left: 11px;"><span class="lnr lnr-arrow-left"></span>&nbsp;Volver</a></div>
                            <template is="dom-if" if="{{transacionAccount}}">
                                <br/>
                                <div class="table-head">
                                    <div class="serial" style="width: 20%;">Fecha</div>
                                    <div class="country">Concepto</div>
                                    <div class="visit">Importe</div>
                                    <div class="percentage">Saldo</div>
                                </div>
                                <template is="dom-repeat" items="{{transacionAccount}}" >
                                    <div class="table-row">
                                        <div class="serial" style="width: 20%;">{{_getValuationDate(item.valuationDate)}}</div>
                                        <div class="country">{{_getDetail(item.detail, item.origin)}}</div>
                                        <div class="visit">{{_getAmount(item.localAmount.amount)}}&nbsp;{{item.localAmount.currency}}</div>
                                        <div class="percentage">
                                            {{_getCurrentBalance(item.localAmount.amount)}}&nbsp;{{item.localAmount.currency}}
                                        </div>
                                </template>
                            </template>
                            <template is="dom-if" if="{{!transacionAccount}}">
                                <div style="text-align: center;">No existen movimientos sobre esta cuenta</div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        //Dashboard = Parent => class Dashboard extends SessionMixin(Parent) {
        class Transactions extends SessionMixin(Polymer.Element) {

            static getUserParam(param) {
                console.log("login - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');

                if (user) {
                    if (param == "isLogged") {
                        return true;
                    } else {
                        var jsonUser = JSON.parse(user);

                        if(param == "bbva"){
                            var bbvaUser = jsonUser[param];
                            if(typeof(bbvaUser) != 'undefined' && typeof(bbvaUser.usuario) != 'undefined'){
                                return true;
                            }
                            return false;
                        }else if(param == "last_acces_date"){
                            var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
                            return (new Date(jsonUser[param])).toLocaleDateString("es-ES", options);
                        }

                        return jsonUser[param]
                    }
                }

                return null;
            }

            static get is() { return 'show-transactions'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                var supProp = super.properties;
                return Object.assign({}, supProp, {
                    last_acces_date: {
                        type: String,
                        value: this.getUserParam("last_acces_date")
                    },
                    iban: {
                        type: String
                    },
                    product_name: {
                        type: String
                    },
                    transacionAccount: {
                        type: Array,
                        value: null
                    },
                    current_balance: {
                        type: Number
                    }
                });
            }

            showTransactionsDataAccount(data, request) {
                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                this.iban = response.iban;
                this.product_name = response.product_name; 
                this.transacionAccount = response.transactions;
                this.current_balance = response.current_balance;
            }

            _getValuationDate(valuationDate){
                return (new Date(valuationDate)).toLocaleDateString("es-ES");
            }

            _getDetail(detail, origin){
                var respuesta = "";
                if(detail != null && typeof(detail) != "undefined"){
                    if(detail.transferDescription != null && typeof(detail.transferDescription) != "undefined"){
                        respuesta = detail.transferDescription;
                    }else{
                        if(detail.receiver != null && typeof(detail.receiver) != "undefined" && detail.receiver.lastName != null && typeof(detail.receiver.lastName) != "undefined"){
                            respuesta = detail.receiver.lastName;
                        }else{
                            respuesta = origin;        
                        }
                    }
                }else{
                    respuesta = origin;
                }
                return respuesta;
            }

            _getAmount(amount){
                return amount.toLocaleString();
            }

            _getCurrentBalance(currentAmount){
                //console.log("currentAmount: " + currentAmount);
                //console.log("current_balance: " + this.current_balance);
                const respuesta = this.current_balance;
                this.current_balance = respuesta - currentAmount;
                return respuesta.toLocaleString();
            }
        }

        window.customElements.define(Transactions.is, Transactions);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>