<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">

<dom-module id="create-user">
  <template>
    <script>
      document.getElementById("home_banner_area").style.display = "none";
      //document.getElementById("mission_area").style.display = "none";
      document.getElementById("login_area").style.display = "none";
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="styleshet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <br /><br /><br /><br />
    <!-- Start Align Area -->
    <div class="whole-wrap">
      <div class="container">
        <!-- Start Errores Area -->
        <div class="section-top-border" style="padding-top: 20; padding-bottom: 0;" id="errores" hidden$="{{!errors}}">
          <h3 class="mb-30 title_color">Errores</h3>
          <div class="row">
            <div class="col-lg-12">
              <blockquote class="generic-blockquote">
                <ul>
                  <template is="dom-repeat" items="{{errorsList}}">
                    <li>{{item.msg}}</li>
                  </template>
                </ul>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- End Errores Area -->
        <div class="section-top-border">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <h3 class="mb-30 title_color">Registro</h3>
              <div class="mt-10">
                <input type="text" name="display_name" id="display_name" placeholder="Nombre *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Nombre *'" required class="single-input" style$="{{errorDisplayName}}"
                  value="{{display_name::input}}">
              </div>
              <div class="mt-10">
                <input type="text" name="last_name" id="last_name" placeholder="Apellidos" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Apellidos'" class="single-input" value="{{last_name::input}}">
              </div>
              <div class="mt-10">
                <input type="email" name="email" id="email" placeholder="Correo electrónico *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Correo electrónico *'" required class="single-input" style$="{{errorEmail}}"
                  value="{{email::input}}">
              </div>
              <div class="mt-10">
                <!--
                <input type="password" name="password" id="password" placeholder="Contraseña *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Contraseña *'" required class="single-input" style$="{{errorPassword}}"
                  value="{{password::input}}">
                -->
                <style>
                  .single-input-password {
                    display: block;
                    width: 100%;
                    line-height: 40px;
                    border: none;
                    outline: none;
                    background: #e8e8e8;
                    padding: 0 20px;
                    margin-top: 18px;
                  }
                  
                  :root{
                    --paper-input-container-label: {
                        display: none;
                    }

                    --paper-input-container-label-focus: {
                        display: none;
                    }

                    --paper-input-container-label-floating: {
                        display: none;
                    }

                    --paper-input-container: {
                        margin-top: -35px;
                        padding: 0px;
                    }

                    --paper-input-container-input: {
                        font-family: "Raleway", sans-serif; 
                        font-size: 15px;
                        display: block;
                        width: 100%;
                        line-height: 40px;
                        border: none;
                        outline: none;
                        background: #e8e8e8;
                        padding: 0 9px;
                        margin-top: 18px;
                      }

                    .floated-label-placeholder{
                      display: none;
                    }
                  }
                </style>
                <gold-password-input label=" " minlength="4" auto-validate strength-meter reveal name="password" id="password"
                  placeholder="Contraseña *" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña *'"
                  required style$="{{errorPassword}}" value="{{password::input}}" strength-meter-labels='{
                    "Label": "Fortaleza de la contraseña",
                    "None": "",
                    "VeryWeak": "Muy débil",
                    "Weak": "Débil",
                    "Medium": "Media",
                    "Strong": "Fuerte",
                    "VeryStrong": "Muy fuerte"}'></gold-password-input>
              </div>
              <div class="mt-10">
                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña *"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repetir contraseña *'" required class="single-input"
                  style$="{{errorPassword}}" value="{{repeatPassword::input}}">
              </div>
              <!--
                <div class="mt-10">
                  <input type="file" class="inputfile inputfile-6" name="picture" id="file-7" placeholder="Foto" style="display: none" 
                    value="{{picture::input}}" accept="image/*" />
                  <label for="file-7" style="width: 100%;" ><span>Foto</span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Examinar&hellip;</strong></label>
                  <br/>
                </div>
                -->
              <div class="input-group-icon mt-10" style="text-align: right">
                <button on-click="crearCuenta" class="genric-btn info circle arrow">Enviar<span class="lnr lnr-arrow-right"></span></button>
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <style>
                .quick-switch .google-button:hover {
                  cursor: pointer;
                  box-shadow: none;
                }

                .quick-switch .google-button {
                  background: #fff;
                  color: rgba(0, 0, 0, 0.54);
                  box-shadow: none;
                  text-align: center;
                  border-radius: 3px;
                  border: 2px solid #CDD2D4;
                  max-width: 426px;
                  width: 99%;
                }

                .google-button {
                  display: inline-block;
                  background: #4285F4;
                  color: #fff;
                  width: auto;
                  border-radius: 2px;
                  border: 1px solid #4285F4;
                  box-shadow: 0 2px 2px #C4C9CC;
                  white-space: nowrap;
                  margin-bottom: 1.2em;
                }

                .quick-switch .google-button span.icon {
                  background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') 12px 50% no-repeat;
                }

                .google-button span.icon {
                  background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') white 12px 50% no-repeat;
                  display: inline-block;
                  border-radius: 1px;
                  vertical-align: middle;
                  width: 42px;
                  height: 42px;
                }

                .quick-switch .google-button span.label {
                  font-size: 16px;
                  margin-right: 1.05em;
                }

                .google-button span.label {
                  display: inline-block;
                  vertical-align: middle;
                  height: 42px;
                  line-height: 42px;
                  margin: 0;
                  padding: 0 12px;
                  font-size: 14px;
                  font-weight: bold;
                  font-family: 'Roboto', sans-serif;
                }

                .login-google-container {
                  left: 50%;
                  top: 25%;
                  position: relative;
                }

                .agoogle {
                  color: white;
                }
              </style>
              <div class="login-google-container">
                <div id="google-link" class="google-button" tabindex="0"><a class="agoogle" href="[[google_oauth_url]]"><span
                      class="icon"></span> <span class="label">Acceder
                      con Google</span></a></div>
                <p>También puedes regitrarte con tu cuenta de Google, ¡más rápido, más cómodo, más fácil!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Align Area -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/swiper/js/swiper.min.js"></script>
    <script src="/js/theme.js"></script>

    <iron-ajax id="doCreateUser" url="{{urlBackend}}/techu-bpjjsa/v1/users" handle-as="json" content-type="application/json"
      method="post" on-response="manageAjaxResponse" on-error="showError" with-credentials="true">

      <iron-ajax id="doGetUrl" url="{{urlBackend}}/techu-bpjjsa/v1/auth/google/authorize" handle-as="json" content-type="application/json"
        method="get" auto on-response="managegetURL" on-error="showError" with-credentials="true">

        <template is="dom-if" if="{{code}}">
          <iron-ajax id="doCallback" url="{{urlBackend}}/techu-bpjjsa/v1/auth/google/callback?code={{code}}&scope={{scope}}"
            handle-as="json" content-type="application/json" method="get" auto on-response="manageCallbak" on-error="showError"
            with-credentials="true">
        </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateUser extends SessionMixin(Polymer.Element) {
      static get is() { return 'create-user'; } // Nombre de la etiqueta HTML cuando la implementemos
      static get properties() {
        // no esta conectado al store
        return {
          display_name: {
            type: String
          },
          errorDisplayName: {
            type: String,
            value: ""
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          errorEmail: {
            type: String,
            value: ""
          },
          password: {
            type: String
          },
          repeatPassword: {
            type: String
          },
          errorPassword: {
            type: String,
            value: ""
          },
          picture: {
            type: ArrayBuffer
          },
          errors: {
            type: Boolean,
            value: false
          },
          errorsList: {
            type: Array
          },
          google_oauth_url: {
            type: String
          },
          code: {
            type: String
          },
          scope: {
            type: String
          }
        };
      }

      crearCuenta() {
        console.log("POST createUser");

        console.log(this.picture);

        if (this.password == this.repeatPassword) {
          var createUserData = {
            "display_name": this.display_name,
            "last_name": this.last_name,
            "email": this.email,
            "password": this.password
          };

          // Invocamos a la función Iron Ajax
          // this.$ referenciamos a un elemnto del DOM local de polymer
          this.$.doCreateUser.body = JSON.stringify(createUserData);

          // enviamos la peticion
          this.$.doCreateUser.generateRequest();

          console.log("petición enviada CreateUser");
        } else {
          var errors = [{
            "location": "body",
            "param": "password",
            "msg": "Las contraseñas no coinciden"
          }];

          this.errors = true;
          this.errorsList = errors;

          this.resetFieldErrors();
          this.errorPassword = "background: #dc354529";
        }
      }

      resetFieldErrors() {
        this.errorEmail = "";
        this.errorPassword = "";
        this.errorDisplayName = "";
      }

      showError(error) {
        console.log("Error al procesar la petición");
        this.errors = true;

        console.log("errors: " + this.errors);
        console.log(error.detail.error.message);
        console.log(error.detail.request.response);

        var eList = error.detail.request.response;
        this.errorsList = eList;

        // reseteamos los errores anteriores
        this.resetFieldErrors();

        for (var i in eList) {
          switch (eList[i].param) {
            case "display_name":
              this.errorDisplayName = "background: #dc354529";
              break;
            case "email":
              this.errorEmail = "background: #dc354529";
              break;
            case "password":
              this.errorPassword = "background: #dc354529";
              break;
          }
        }

        //console.log(error);
        //console.log(error.detail);
        //console.log(error.detail.error);
        //console.log(error.detail.request);
        //console.log(error.detail.response);
      }

      manageAjaxResponse(data) {
        this.resetFieldErrors();

        this.errors = false;
        this.errorsList = null;

        console.log("Respuesta: ");
        console.log(data.detail.response); //esto llega del backend
        alert("Usuario creado con éxito");
        top.location = "/index.html";
      }

      managegetURL(data) {
        this.resetFieldErrors();

        this.errors = false;
        this.errorsList = null;

        console.log("Respuesta: ");
        console.log(data.detail.response); //esto llega del backend

        this.google_oauth_url = data.detail.response.msg;
      }

      manageCallbak(data) {
        this.resetFieldErrors();

        this.errors = false;
        this.errorsList = null;

        console.log("Respuesta: ");
        console.log(data.detail.response); //esto llega del backend

        window.localStorage.setItem('user', JSON.stringify(data.detail.response));

        // Enviamos evento de login
        var message = {};
        var usuario_bbva = null;
        var fecha_ultimo_acceso = null;

        if (typeof (data.detail.response.bbva) != 'undefined' && typeof (data.detail.response.bbva.user) != 'undefined') {
          usuario_bbva = data.detail.response.bbva.user;
        }

        if (typeof (data.detail.response.last_acces_date) != 'undefined' && typeof (data.detail.response.last_acces_date) != 'undefined') {
          fecha_ultimo_acceso = data.detail.response.last_acces_date;
        }

        message = {
          id_user: data.detail.response.id_user,
          isLogged: true,
          display_name: data.detail.response.display_name,
          last_name: data.detail.response.last_name,
          email: data.detail.response.email,
          last_acces_date: fecha_ultimo_acceso,
          bbva_user: usuario_bbva
        }

        this.dispatch('updateReduxSession', message);

        top.location = "/dashboard/" + data.detail.response.id_user;
      }
    }

    window.customElements.define(CreateUser.is, CreateUser);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>