<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="create-bank-credentials">
    <template>
        <script>
            document.getElementById("home_banner_area").style.display = "none";
            document.getElementById("login_area").style.display = "none";
            document.getElementById("bank_credentials_area").style.display = "none";
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <style>
            .last_access_container {
                content: "";
                /* width: 360px; */
                height: 70px;
                background: rgba(167, 203, 0, .80);
                position: absolute;
                right: 0px;
                z-index: 2;
                padding: 10px;
                color: white;
                text-align: right;
                font-weight: bold;
            }

            .security_text {
                text-align: justify;
                background-image: url('/img/bbva.png');
                font-size: smaller;
                background-repeat: no-repeat;
                
                font-style: italic;
            }

            .security_text p {
                padding-left: 65px;
            }
        </style>

        <br /><br /><br /><br />
        <template is="dom-if" if="{{user_id}}">
            <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{user_id}}"
                handle-as="json" on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
        </template>
        <template is="dom-if" if="{{!user_id}}">
            <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}"
                handle-as="json" on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
        </template>

        <!--================Last Access Area =================-->
        <div class="last_access_container" hidden$="{{!existLAD}}">
            Último acceso:<br />
            [[last_acces_date]]
        </div>
        <!--================End Last Access Area =================-->

        <!--================Start Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content">
                        <div class="page_link">
                            <a href="/index.html">Home</a>
                            <template is="dom-if" if="{{user_id}}">
                                <a href="/profile/{{user_id}}">Profile</a>
                            </template>
                            <template is="dom-if" if="{{!user_id}}">
                                <a href="/profile/{{id_user}}">Profile</a>
                            </template>
                        </div>
                        <h2>BBVA</h2><br /><br />
                        En esta pantalla podrás dar de alta las claves de acceso de la entidad para agregar tus
                        cuentas.
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Start Profile Area =================-->
        <section class="contact_area p_30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 security_text">
                        <p>Es sólo un servicio de consulta, <b>nada ni nadie puede acceder a tu
                                información</b>. Una vez dentro, todo está gestionado por un algoritmo,
                            no por humanos.</p>
                        <p>*Por seguridad, cuando te conectas a Money Money <b>toda tu información se
                                transmite cifrada</b> con un certificado SSL</p>
                        <p>Money Money se acoge a las prácticas de seguridad promovidas por la ISO
                            27002 siguiendo las recomendaciones de las mejores compañías y
                            <b>expertos en seguridad</b>, que prestan servicios a entidades
                            financieras y al 75% de las empresas del Ibex en materias de
                            seguridad.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="comments-area" style="margin-top: 0px">
                            <div class="row contact_form" id="contactForm">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="contact_info">
                                            <div class="info_item">
                                                <i class="lnr lnr-user"></i>
                                                <input type="text" class="form-control" id="bbva_user" name="bbva_user"
                                                    placeholder="Usuario *" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Usuario *'"
                                                    required style$="{{errorUsuario}}" value="{{bbva_user::input}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="contact_info">
                                            <div class="info_item">
                                                <i class="lnr lnr-lock"></i>
                                                <input type="password" class="form-control" id="bbva_password" name="bbva_password"
                                                    placeholder="Contraseña *" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña *'"
                                                    style$="margin-bottom: 10px; {{errorPassword}}" value="{{bbva_password::input}}"
                                                    with-credentials>

                                                <input type="password" class="form-control" id="bbva_repeatPassword"
                                                    name="bbva_repeatPassword" placeholder="Repetir contraseña *"
                                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repetir contraseña *'"
                                                    class="single-input" style$="{{errorPassword}}" value="{{bbva_repeatPassword::input}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="errores" hidden$="{{!errors}}" class="errores">
                                    <ul>
                                        <template is="dom-repeat" items="{{errorsList}}">
                                            <li>{{item.msg}}</li>
                                        </template>
                                    </ul>
                                </div>
                                <div class="col-md-12 text-right">
                                    <template is="dom-if" if="{{showRemoveButton}}">
                                        <button type="submit" value="submit" class="btn genric-btn danger radius"
                                            on-click="eliminarCuenta">Eliminar&nbsp;<span class="lnr lnr-trash"></span></button>
                                    </template>
                                    <button type="submit" value="submit" class="banner_btn" style="margin-left: 10px;"
                                        on-click="modificarCuenta">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Profile Area =================-->
        <iron-ajax id="doModifyUser" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}/bankCredentials"
            handle-as="json" content-type="application/json" method="PATCH" on-response="manageAjaxResponse" on-error="showErrorModify"
            with-credentials="true"></iron-ajax>

        <iron-ajax id="doRemoveUser" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}/bankCredentials"
            method="DELETE" on-response="removeResponse" on-error="showErrorRemove" with-credentials="true"></iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class CreateBankCredentials extends SessionMixin(Polymer.Element) {

            static getUserParam(param) {
                console.log("createBankCredentials - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');

                if (user) {
                    var jsonUser = JSON.parse(user);

                    if (param == "isLogged") {
                        return true;
                    } else if(param == "bbva"){
                        var bbva_user = jsonUser[param];

                        if (bbva_user != null && 
                            typeof (bbva_user) != 'undefined' && 
                            typeof (bbva_user.user) != 'undefined') {
                                return true;
                        }else{
                            return false;
                        }
                    } else {
                        return jsonUser[param];
                    }
                }

                return null;
            }

            static get is() { return 'create-bank-credentials'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                var supProp = super.properties;
                return Object.assign({}, supProp, {
                    errorUsuario: {
                        type: String,
                        value: ""
                    },
                    bbva_password: {
                        type: String
                    },
                    bbva_repeatPassword: {
                        type: String
                    },
                    showRemoveButton: {
                        type: Boolean,
                        value: this.getUserParam("bbva")
                    },
                    errorPassword: {
                        type: String,
                        value: ""
                    },
                    existLAD: {
                        type: Boolean,
                        value: false
                    },
                    errors: {
                        type: Boolean,
                        value: false
                    },
                    errorsList: {
                        type: Array
                    }
                });
            }

            showData(data, request) {
                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                this.id_user = response.id_user;
                this.display_name = response.display_name;
                this.last_name = response.last_name;
                this.email = response.email;
                this.isLogged = true;

                if (response.last_acces_date != null) {
                    this.existLAD = true;
                    var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
                    this.last_acces_date = (new Date(response.last_acces_date)).toLocaleDateString("es-ES", options);
                }

                if (typeof (response.bbva) != 'undefined' && typeof (response.bbva.user) != 'undefined') {
                    this.bbva_user = response.bbva.user;
                } else {
                    this.bbva_user = null;
                }

                window.localStorage.setItem('user', JSON.stringify(response));

                // Enviamos evento de login
                var message = {};

                message = {
                    id_user: this.id_user,
                    isLogged: true,
                    display_name: this.display_name,
                    last_name: this.last_name,
                    email: this.email,
                    last_acces_date: this.last_acces_date,
                    bbva_user: this.bbva_user
                }

                this.dispatch('updateReduxSession', message);
            }

            modificarCuenta() {
                console.log("PATCH modifyUser");

                if ((this.bbva_user != "") && (typeof (this.bbva_user) != "undefined")) {
                    if ((this.bbva_password != "") && (typeof (this.bbva_password) != "undefined")) {
                        if (this.bbva_password == this.bbva_repeatPassword) {
                            var modifyUserData = {
                                "bbva_user": this.bbva_user,
                                "bbva_password": this.bbva_password
                            };

                            // Invocamos a la función Iron Ajax
                            // this.$ referenciamos a un elemnto del DOM local de polymer
                            this.$.doModifyUser.body = JSON.stringify(modifyUserData);

                            // enviamos la peticion
                            this.$.doModifyUser.generateRequest();

                            console.log("petición enviada modifyUser");
                        } else {
                            var errors = [{
                                "location": "body",
                                "param": "bbva_password",
                                "msg": "Las contraseñas deben coincidir"
                            }];

                            this.errors = true;
                            this.errorsList = errors;

                            this.resetFieldErrors();
                            this.errorPassword = "background: #dc354529";

                            this.bbva_password = "";
                            this.bbva_repeatPassword = "";
                        }
                    } else {
                        var errors = [{
                            "location": "body",
                            "param": "bbva_password",
                            "msg": "Rellene los campos obligatorios"
                        }];

                        this.errors = true;
                        this.errorsList = errors;

                        this.resetFieldErrors();
                        this.errorPassword = "background: #dc354529";
                    }
                } else {
                    var errors = [{
                        "location": "body",
                        "param": "bbva_user",
                        "msg": "Rellene los campos obligatorios"
                    }];

                    this.errors = true;
                    this.errorsList = errors;

                    this.resetFieldErrors();
                    this.errorUsuario = "background: #dc354529";
                }
            }

            manageAjaxResponse(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                this.resetFieldErrors();

                this.errors = false;
                this.errorsList = null;

                var user = JSON.parse(window.localStorage.getItem('user'));
                var bbva_user = {
                    "bbva": {
                        "user": this.bbva_user
                    }
                }

                user = Object.assign({}, user, bbva_user);
                window.localStorage.setItem('user', JSON.stringify(user));

                this.bbva_password = "";
                this.bbva_repeatPassword = "";
                this.showRemoveButton = true;

                alert("Usuario modificado con éxito");
            }


            eliminarCuenta() {
                console.log("DELETE removeUser");
                if (confirm("¿Desea eliminar el usuario?")) {
                    // enviamos la peticion
                    this.$.doRemoveUser.generateRequest();

                    console.log("petición enviada removeUser");
                }
            }

            showError(error) {
                console.log("Error al procesar la petición");
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var errors = "";
                var eList = error.detail.request.response;

                for (var i in eList) {
                    errors = eList[i].msg + "\n";
                }

                if (errors.length > 0) {
                    alert(errors)
                    top.location = "/index.html";
                }
            }

            resetFieldErrors() {
                this.errorUsuario = "";
                this.errorPassword = "";
            }

            showErrorRemove(error) {
                console.log("Error al procesar la petición");
                this.errors = true;

                console.log("errors: " + this.errors);
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.errorsList = eList;
            }

            showErrorModify(error) {
                console.log("Error al procesar la petición");
                this.errors = true;

                console.log("errors: " + this.errors);
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.errorsList = eList;

                // reseteamos los errores anteriores
                this.resetFieldErrors();

                for (var i in eList) {
                    switch (eList[i].param) {
                        case "bbva_user":
                            this.errorUsuario = "background: #dc354529";
                            break;
                        case "bbva_password":
                            this.errorPassword = "background: #dc354529";
                            break;
                    }
                }
            }

            removeResponse(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                this.bbva_user = "";
                this.bbva_password = "";
                this.bbva_repeatPassword = "";
                this.showRemoveButton = false;

                // eliminamos del local storage
                var user = JSON.parse(window.localStorage.getItem('user'));
                delete user["bbva"];
                window.localStorage.setItem('user', JSON.stringify(user));

                alert("Usuario eliminado con éxito");
            }
        }

        window.customElements.define(CreateBankCredentials.is, CreateBankCredentials);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>