<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-module">
    <template>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <div class="login_container col-lg-3">
            <div class="blog_right_sidebar" style="width: 300px;">
                <div hidden$="{{isLogged}}">
                    <h4>Login</h4>
                    <aside class="single_sidebar_widget search_widget" style="padding-top: 5px;">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Correo electrónico *" value="{{email::input}}">
                        </div>
                        <div class="input-group" style="padding-top: 5px;">
                            <input type="password" class="form-control" placeholder="Contraseña *" value="{{password::input}}">
                        </div>
                        <div class="input-group-icon mt-10" style="text-align: right">
                            <button on-click="autenticar" class="genric-btn default-border circle">Enviar&nbsp;&nbsp;<span
                                    class="lnr lnr-arrow-right"></span></button>
                        </div>
                        <div class="br" style="margin: 20px 0px;">
                            <a href="javascript:void(0);" on-click="resetPassword"><span class="lnr lnr-envelope"></span>&nbsp;Resetear
                                contraseña</a>
                        </div>
                        <div style="padding-left: 8%; padding-top: 15px;">
                            <style>
                                .quick-switch .google-button:hover {
                                    cursor: pointer;
                                    box-shadow: none;
                                }

                                .quick-switch .google-button {
                                    background: #fff;
                                    color: rgba(0, 0, 0, 0.54);
                                    box-shadow: none;
                                    text-align: center;
                                    border-radius: 3px;
                                    border: 2px solid #CDD2D4;
                                    max-width: 426px;
                                    width: 99%;
                                }

                                .google-button {
                                    display: inline-block;
                                    background: #4285F4;
                                    color: #fff;
                                    width: auto;
                                    border-radius: 2px;
                                    border: 1px solid #4285F4;
                                    box-shadow: 0 2px 2px #C4C9CC;
                                    white-space: nowrap;
                                    margin-bottom: 1.2em;
                                }

                                .quick-switch .google-button span.icon {
                                    background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') 12px 50% no-repeat;
                                }

                                .google-button span.icon {
                                    background: url('https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg') white 12px 50% no-repeat;
                                    display: inline-block;
                                    border-radius: 1px;
                                    vertical-align: middle;
                                    width: 42px;
                                    height: 42px;
                                }

                                .quick-switch .google-button span.label {
                                    font-size: 16px;
                                    margin-right: 1.05em;
                                }

                                .google-button span.label {
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: 42px;
                                    line-height: 42px;
                                    margin: 0;
                                    padding: 0 12px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    font-family: 'Roboto', sans-serif;
                                }

                                .agoogle {
                                    color: white;
                                }
                            </style>
                            <div class="login-google-container">
                                <div id="google-link" class="google-button" tabindex="0"><a class="agoogle" href="[[google_oauth_url]]"><span
                                            class="icon"></span> <span class="label">Acceder
                                            con Google</span></a></div>
                            </div>
                        </div>
                        <div id="errores" hidden$="{{!loginErrors}}" class="errores">
                            <template is="dom-repeat" items="{{loginErrorsList}}">
                                <li>{{item.msg}}</li>
                            </template>
                        </div>
                    </aside>
                </div>
                <div hidden$="{{!isLogged}}">
                    <h4>Bienvenid@ [[display_name]]</h4><br />
                    Accede al área privada donde podrás ver el detalle de tus cuentas

                    <div class="input-group-icon mt-10" style="text-align: right">
                        <a href="/dashboard/{{id_user}}" class="genric-btn info circle arrow">Área personal<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                </aside>
            </div>
        </div>

        <iron-ajax id="doLogin" url="{{urlBackend}}/techu-bpjjsa/v1/login" handle-as="json" content-type="application/json"
            method="post" on-response="manageAjaxResponse" on-error="showError" with-credentials="true"></iron-ajax>

        <iron-ajax id="doResetPassword" url="{{urlBackend}}/techu-bpjjsa/v1/resetPassword" handle-as="json"
            content-type="application/json" method="post" on-response="resetPasswordResponse" on-error="resetPasswordShowError"
            with-credentials="true"></iron-ajax>

        <iron-ajax id="doGetUrlLogin" url="{{urlBackend}}/techu-bpjjsa/v1/auth/google/authorize" handle-as="json"
            content-type="application/json" method="get" auto on-response="managegetURL" on-error="showError"
            with-credentials="true"></iron-ajax>
        
        <template is="dom-if" if="{{code}}">
            <iron-ajax id="doCallbackLogin" url="{{urlBackend}}/techu-bpjjsa/v1/auth/google/callback?code={{code}}&scope={{scope}}"
                handle-as="json" content-type="application/json" method="get" auto on-response="manageCallbak" on-error="showError"
                with-credentials="true"></iron-ajax>
        </template>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginModule extends SessionMixin(Polymer.Element) {

            static getUserParam(param) {
                console.log("login - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');
                const urlParams = new URLSearchParams(window.location.search);


                if (param == "code" || param == "scope") {
                    var code = urlParams.get(param);
                    if(urlParams.get(param) != null && typeof(urlParams.get(param)) != "undefined"){
                        return urlParams.get(param);
                    }
                }else if (user) {
                    if (param == "isLogged") {
                        return true;
                    } else {
                        var jsonUser = JSON.parse(user);
                        return jsonUser[param]
                    }
                }

                return null;
            }

            static get is() { return 'login-module'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                return {
                    id_user: {
                        type: Number,
                        value: this.getUserParam("id_user")
                    },
                    isLogged: {
                        type: Boolean,
                        value: this.getUserParam("isLogged")
                    },
                    display_name: {
                        type: String,
                        value: this.getUserParam("display_name")
                    },
                    password: {
                        type: String
                    },
                    loginErrors: {
                        type: Boolean,
                        value: false
                    },
                    loginErrorsList: {
                        type: Array
                    },
                    google_oauth_url: {
                        type: String
                    },
                    code: {
                        type: String,
                        value: this.getUserParam("code")
                    },
                    scope: {
                        type: String,
                        value: this.getUserParam("scope")
                    }
                };
            }

            autenticar() {
                console.log("POST autenticar");

                var doLoginData = {
                    "email": this.email,
                    "password": this.password
                };

                // Invocamos a la función Iron Ajax
                // this.$ referenciamos a un elemnto del DOM local de polymer
                this.$.doLogin.body = JSON.stringify(doLoginData);

                // enviamos la peticion
                this.$.doLogin.generateRequest();

                console.log("petición enviada autenticar");
            }

            showError(error) {
                console.log("Error al procesar la petición");
                this.loginErrors = true;

                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.loginErrorsList = eList;

                //console.log(error);
                //console.log(error.detail);
                //console.log(error.detail.error);
                //console.log(error.detail.request);
                //console.log(error.detail.response);
            }

            manageAjaxResponse(data, request) {
                this.loginErrors = false;
                this.loginErrorsList = null;

                var headers = request.xhr.getAllResponseHeaders();
                console.log(headers);

                //var headers2 = request.xhr.getResponseHeader('Set-Cookie');
                //console.log(headers2);

                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                top.location = "/dashboard/" + response.id_user;
            }

            resetPassword() {
                console.log("POST resetPassword");

                if ((this.email != "") && (typeof (this.email) != "undefined")) {
                    var doResetPasswordData = {
                        "email": this.email,
                    };

                    // Invocamos a la función Iron Ajax
                    // this.$ referenciamos a un elemnto del DOM local de polymer
                    this.$.doResetPassword.body = JSON.stringify(doResetPasswordData);

                    // enviamos la peticion
                    this.$.doResetPassword.generateRequest();

                    console.log("petición enviada a reset password");
                } else {
                    alert("Debe especificar una dirección de correo electronico");
                }
            }

            resetPasswordResponse(data, request) {
                this.loginErrors = true;
                this.loginErrorsList = data.detail.response;

                var headers = request.xhr.getAllResponseHeaders();
                console.log(headers);

                this.email = "";
                this.password = "";
            }

            resetPasswordShowError(error) {
                console.log("Error al procesar la petición");
                this.loginErrors = true;

                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.loginErrorsList = eList;

                this.email = "";
                this.password = "";
            }

            managegetURL(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                this.google_oauth_url = data.detail.response.msg;
            }

            manageCallbak(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                window.localStorage.setItem('user', JSON.stringify(data.detail.response));

                // Enviamos evento de login
                var message = {};
                var usuario_bbva = null;
                var fecha_ultimo_acceso = null;

                if (typeof (data.detail.response.bbva) != 'undefined' && typeof (data.detail.response.bbva.user) != 'undefined') {
                    usuario_bbva = data.detail.response.bbva.user;
                }

                if (typeof (data.detail.response.last_acces_date) != 'undefined' && typeof (data.detail.response.last_acces_date) != 'undefined') {
                    fecha_ultimo_acceso = data.detail.response.last_acces_date;
                }

                message = {
                    id_user: data.detail.response.id_user,
                    isLogged: true,
                    display_name: data.detail.response.display_name,
                    last_name: data.detail.response.last_name,
                    email: data.detail.response.email,
                    last_acces_date: fecha_ultimo_acceso,
                    bbva_user: usuario_bbva
                }

                this.dispatch('updateReduxSession', message);

                top.location = "/dashboard/" + data.detail.response.id_user;
            }
        }

        window.customElements.define(LoginModule.is, LoginModule);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>