<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">

<dom-module id="reset-user">
    <template>
        <script>
            document.getElementById("home_banner_area").style.display = "none";
            //document.getElementById("mission_area").style.display = "none";
            document.getElementById("login_area").style.display = "none";
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="styleshet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <br /><br /><br /><br />
        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container">
                <!-- Start Errores Area -->
                <div class="section-top-border" style="padding-top: 20; padding-bottom: 0;" id="errores" hidden$="{{!errors}}">
                    <h3 class="mb-30 title_color">Errores</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <blockquote class="generic-blockquote">
                                <ul>
                                    <template is="dom-repeat" items="{{errorsList}}">
                                        <li>{{item.msg}}</li>
                                    </template>
                                </ul>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- End Errores Area -->
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <h3 class="mb-30 title_color">Resetear contraseña</h3>
                            <div class="mt-10">
                                <input type="text" name="token" id="token" placeholder="Token *" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Nombre *'" required class="single-input" style$="{{errorToken}}"
                                    value="{{token::input}}">
                            </div>
                            <div class="mt-10">
                                <input type="email" name="email" id="email" placeholder="Correo electrónico *" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Correo electrónico *'" required class="single-input"
                                    style$="{{errorEmail}}" value="{{email::input}}">
                            </div>
                            <div class="mt-10">
                                <style>
                                    .single-input-password {
                    display: block;
                    width: 100%;
                    line-height: 40px;
                    border: none;
                    outline: none;
                    background: #e8e8e8;
                    padding: 0 20px;
                    margin-top: 18px;
                  }
                  
                  :root{
                    --paper-input-container-label: {
                        display: none;
                    }

                    --paper-input-container-label-focus: {
                        display: none;
                    }

                    --paper-input-container-label-floating: {
                        display: none;
                    }

                    --paper-input-container: {
                        margin-top: -35px;
                        padding: 0px;
                    }

                    --paper-input-container-input: {
                        font-family: "Raleway", sans-serif; 
                        font-size: 15px;
                        display: block;
                        width: 100%;
                        line-height: 40px;
                        border: none;
                        outline: none;
                        background: #e8e8e8;
                        padding: 0 9px;
                        margin-top: 18px;
                      }

                    .floated-label-placeholder{
                      display: none;
                    }
                  }
                </style>
                                <gold-password-input label=" " minlength="4" auto-validate strength-meter reveal name="password"
                                    id="password" placeholder="Contraseña *" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña *'"
                                    required style$="{{errorPassword}}" value="{{password::input}}"
                                    strength-meter-labels='{
                                        "Label": "Fortaleza de la contraseña",
                                        "None": "",
                                        "VeryWeak": "Muy débil",
                                        "Weak": "Débil",
                                        "Medium": "Media",
                                        "Strong": "Fuerte",
                                        "VeryStrong": "Muy fuerte"}'></gold-password-input>
                            </div>
                            <div class="mt-10">
                                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña *"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repetir contraseña *'"
                                    required class="single-input" style$="{{errorPassword}}" value="{{repeatPassword::input}}">
                            </div>
                            <div class="input-group-icon mt-10" style="text-align: right">
                                <button on-click="resetPassword" class="genric-btn info circle arrow">Enviar<span class="lnr lnr-arrow-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Align Area -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="/vendors/swiper/js/swiper.min.js"></script>
        <script src="/js/theme.js"></script>

        <iron-ajax id="doResetPassword" url="{{urlBackend}}/techu-bpjjsa/v1/resetPassword" handle-as="json" content-type="application/json"
            method="PATCH" on-response="manageAjaxResponse" on-error="showError" withcredentials="true">
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ResetUser extends SessionMixin(Polymer.Element) {
            static get is() { return 'reset-user'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                // no esta conectado al store
                return {
                    token: {
                        type: String
                    },
                    errorToken: {
                        type: String,
                        value: ""
                    },
                    email: {
                        type: String
                    },
                    errorEmail: {
                        type: String,
                        value: ""
                    },
                    password: {
                        type: String
                    },
                    repeatPassword: {
                        type: String
                    },
                    errorPassword: {
                        type: String,
                        value: ""
                    },
                    errors: {
                        type: Boolean,
                        value: false
                    },
                    errorsList: {
                        type: Array
                    }
                };
            }

            resetPassword() {
                console.log("POST resetPassword");

                if ((this.password != "") && (typeof (this.password) != "undefined") &&
                    (this.email != "") && (typeof (this.email) != "undefined") &&
                    (this.token != "") && (typeof (this.token) != "undefined")) {

                    if (this.password == this.repeatPassword) {
                        var resetPasswordData = {
                            "token": this.token,
                            "email": this.email,
                            "password": this.password
                        };

                        // Invocamos a la función Iron Ajax
                        // this.$ referenciamos a un elemnto del DOM local de polymer
                        this.$.doResetPassword.body = JSON.stringify(resetPasswordData);

                        // enviamos la peticion
                        this.$.doResetPassword.generateRequest();

                        console.log("petición enviada resetPassword");
                    } else {
                        alert('Las contraseñas no coinciden');
                    }
                } else {
                    alert('Rellene los campos marcados como obligatorios');
                }
            }

            resetFieldErrors() {
                this.errorEmail = "";
                this.errorToken = "";
                this.errorPassword = "";
            }

            showError(error) {
                console.log("Error al procesar la petición");
                this.errors = true;

                console.log("errors: " + this.errors);
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.errorsList = eList;

                // reseteamos los errores anteriores
                this.resetFieldErrors();

                for (var i in eList) {
                    switch (eList[i].param) {
                        case "display_name":
                            this.errorToken = "background: #dc354529";
                            break;
                        case "email":
                            this.errorEmail = "background: #dc354529";
                            break;
                        case "password":
                            this.errorPassword = "background: #dc354529";
                            break;
                    }
                }
            }

            manageAjaxResponse(data) {
                this.resetFieldErrors();

                this.errors = false;
                this.errorsList = null;

                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend
                alert("Usuario modificado con éxito");
                top.location = "/index.html";
            }
        }

        window.customElements.define(ResetUser.is, ResetUser);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>