<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/gold-password-input/gold-password-input.html">

<dom-module id="show-profile">
    <template>
        <script>
            document.getElementById("home_banner_area").style.display = "none";
            document.getElementById("login_area").style.display = "none";
            document.getElementById("bank_credentials_area").style.display = "block";
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <style>
            .last_access_container {
                content: "";
                /* width: 360px; */
                height: 70px;
                background: rgba(167, 203, 0, .80);
                position: absolute;
                right: 0px;
                z-index: 2;
                padding: 10px;
                color: white;
                text-align: right;
                font-weight: bold;
            }
        </style>

        <br /><br /><br /><br />
        <template is="dom-if" if="{{user_id}}">
            <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{user_id}}"
                handle-as="json" on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
        </template>
        <template is="dom-if" if="{{!user_id}}">
            <iron-ajax auto id="getUserDashboard" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}"
                handle-as="json" on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>
        </template>

        <!--================Last Access Area =================-->
        <div class="last_access_container" hidden$="{{!existLAD}}">
            Último acceso:<br />
            [[last_acces_date]]
        </div>
        <!--================End Last Access Area =================-->

        <!--================Start Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content">
                        <div class="page_link">
                            <a href="/index.html">Home</a>
                            <a href="javascript:void(0);">Profile</a>
                        </div>
                        <h2>Perfil</h2><br /><br />
                        Revisa tu información personal
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Start Profile Area =================-->
        <section class="contact_area p_30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="img-fluid" src="/img/project-details-1.jpg" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="comments-area" style="margin-top: 0px">
                            <div class="row contact_form" id="contactForm">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="contact_info">
                                            <div class="info_item">
                                                <i class="lnr lnr-user"></i>
                                                <input type="text" class="form-control" id="display_name" name="display_name"
                                                    placeholder="Nombre *" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre *'"
                                                    required style$="margin-bottom: 10px; {{errorDisplayName}}" value="{{display_name::input}}">

                                                <input type="text" class="form-control" id="last_name" name="last_name"
                                                    placeholder="Apellidos" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellidos'"
                                                    value="{{last_name::input}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="contact_info">
                                            <div class="info_item">
                                                <i class="lnr lnr-envelope"></i>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="Correo electrónico *" onfocus="this.placeholder = ''"
                                                    onblur="this.placeholder = 'Correo electrónico *'" required value="{{email::input}}"
                                                    style$="{{errorEmail}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="contact_info">
                                            <div class="info_item">
                                                <i class="lnr lnr-lock"></i>
                                                <!--<input type="password" class="form-control" id="password" name="password"
                                                    placeholder="Contraseña (si no rellena, no se actualizará) *"
                                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña *'"
                                                    style$="margin-bottom: 10px; {{errorPassword}}" value="{{password::input}}"
                                                    >
                                                -->
                                                <style>
                                                    :root{
                                                        --paper-input-container-label: {
                                                            display: none;
                                                        }

                                                        --paper-input-container: {
                                                            margin-top: -30px;
                                                        }

                                                        --paper-input-container-input: {
                                                            font-family: "Raleway", sans-serif; 
                                                            font-size: 13px;
                                                            padding: 0px;
                                                            color: #999;
                                                        }
                                                    }
                                                </style>
                                                <gold-password-input label=" " minlength="4" auto-validate
                                                    strength-meter reveal name="password" id="password" placeholder="Contraseña (si no rellena, no se actualizará) *"
                                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña *'"
                                                    class="form-control" style$="line-height: 30px;; {{errorPassword}}"
                                                    value="{{password::input}}" strength-meter-labels='{
                                                        "Label": "Fortaleza de la contraseña",
                                                        "None": "",
                                                        "VeryWeak": "Muy débil",
                                                        "Weak": "Débil",
                                                        "Medium": "Media",
                                                        "Strong": "Fuerte",
                                                        "VeryStrong": "Muy fuerte"}'></gold-password-input>

                                                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword"
                                                    placeholder="Repetir contraseña *" onfocus="this.placeholder = ''"
                                                    onblur="this.placeholder = 'Repetir contraseña *'" class="single-input"
                                                    style$="{{errorPassword}}" value="{{repeatPassword::input}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="errores" hidden$="{{!errors}}" class="errores">
                                    <template is="dom-repeat" items="{{errorsList}}">
                                        <li>{{item.msg}}</li>
                                    </template>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="btn genric-btn danger radius" on-click="eliminarCuenta">Eliminar&nbsp;<span
                                            class="lnr lnr-trash"></span></button>
                                    <button type="submit" value="submit" class="banner_btn" style="margin-left: 10px;"
                                        on-click="modificarCuenta">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Profile Area =================-->

        <iron-ajax id="doModifyUser" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}" handle-as="json"
            content-type="application/json" method="PATCH" on-response="manageAjaxResponse" on-error="showErrorModify"
            with-credentials="true"></iron-ajax>

        <iron-ajax id="doRemoveUser" url="{{urlBackend}}/techu-bpjjsa/v1/users/{{id_user}}" method="DELETE"
            on-response="removeResponse" on-error="showErrorRemove" with-credentials="true"></iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class Profile extends SessionMixin(Polymer.Element) {
            static get is() { return 'show-profile'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                var supProp = super.properties;
                return Object.assign({}, supProp, {
                    errorDisplayName: {
                        type: String,
                        value: ""
                    },
                    errorEmail: {
                        type: String,
                        value: ""
                    },
                    password: {
                        type: String
                    },
                    repeatPassword: {
                        type: String
                    },
                    errorPassword: {
                        type: String,
                        value: ""
                    },
                    existLAD: {
                        type: Boolean,
                        value: false
                    },
                    errors: {
                        type: Boolean,
                        value: false
                    },
                    errorsList: {
                        type: Array
                    }
                });
            }

            eliminarCuenta() {
                console.log("DELETE removeUser");
                if (confirm("¿Desea eliminar el usuario?")) {
                    // enviamos la peticion
                    this.$.doRemoveUser.generateRequest();

                    console.log("petición enviada removeUser");
                }
            }

            modificarCuenta() {
                console.log("PATCH modifyUser");

                if ((this.password != "") && (typeof (this.password) != "undefined")) {
                    if (this.password == this.repeatPassword) {
                        var modifyUserData = {
                            "display_name": this.display_name,
                            "last_name": this.last_name,
                            "email": this.email,
                            "password": this.password
                        };

                        // Invocamos a la función Iron Ajax
                        // this.$ referenciamos a un elemnto del DOM local de polymer
                        this.$.doModifyUser.body = JSON.stringify(modifyUserData);

                        // enviamos la peticion
                        this.$.doModifyUser.generateRequest();

                        console.log("petición enviada CreateUser");
                    } else {
                        var errors = [{
                            "location": "body",
                            "param": "password",
                            "msg": "Las contraseñas no coinciden"
                        }];

                        this.errors = true;
                        this.errorsList = errors;

                        this.resetFieldErrors();
                        this.errorPassword = "background: #dc354529";
                    }
                } else {
                    var modifyUserData = {
                        "display_name": this.display_name,
                        "last_name": this.last_name,
                        "email": this.email,
                        "password": null
                    };

                    // Invocamos a la función Iron Ajax
                    // this.$ referenciamos a un elemnto del DOM local de polymer
                    this.$.doModifyUser.body = JSON.stringify(modifyUserData);

                    // enviamos la peticion
                    this.$.doModifyUser.generateRequest();

                    console.log("petición enviada ModifyUser");
                }
            }

            showData(data, request) {
                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                this.id_user = response.id_user;
                this.display_name = response.display_name;
                this.last_name = response.last_name;
                this.email = response.email;
                this.isLogged = true;

                if (response.last_acces_date != null) {
                    this.existLAD = true;
                    var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
                    this.last_acces_date = (new Date(response.last_acces_date)).toLocaleDateString("es-ES", options);
                }

                if (typeof (response.bbva) != 'undefined' && typeof (response.bbva.user) != 'undefined') {
                    this.bbva_user = response.bbva.user;
                } else {
                    this.bbva_user = null;
                }

                window.localStorage.setItem('user', JSON.stringify(response));

                // Enviamos evento de login
                var message = {};

                message = {
                    id_user: this.id_user,
                    isLogged: true,
                    display_name: this.display_name,
                    last_name: this.last_name,
                    email: this.email,
                    last_acces_date: this.last_acces_date,
                    bbva_user: this.bbva_user
                }

                this.dispatch('updateReduxSession', message);
            }

            showError(error) {
                console.log("Error al procesar la petición");
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var errors = "";
                var eList = error.detail.request.response;

                for (var i in eList) {
                    errors = eList[i].msg + "\n";
                }

                if (errors.length > 0) {
                    alert(errors)
                    top.location = "/index.html";
                }
            }

            resetFieldErrors() {
                this.errorEmail = "";
                this.errorPassword = "";
                this.errorDisplayName = "";
            }

            showErrorRemove(error) {
                console.log("Error al procesar la petición");
                this.errors = true;

                console.log("errors: " + this.errors);
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.errorsList = eList;
            }

            showErrorModify(error) {
                console.log("Error al procesar la petición");
                this.errors = true;

                console.log("errors: " + this.errors);
                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.errorsList = eList;

                // reseteamos los errores anteriores
                this.resetFieldErrors();

                for (var i in eList) {
                    switch (eList[i].param) {
                        case "display_name":
                            this.errorDisplayName = "background: #dc354529";
                            break;
                        case "email":
                            this.errorEmail = "background: #dc354529";
                            break;
                        case "password":
                            this.errorPassword = "background: #dc354529";
                            break;
                    }
                }
            }

            removeResponse(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                window.localStorage.clear();

                alert("Usuario eliminado con éxito");

                top.location = "/index.html";
            }

            manageAjaxResponse(data) {
                console.log("Respuesta: ");
                console.log(data.detail.response); //esto llega del backend

                this.resetFieldErrors();

                this.errors = false;
                this.errorsList = null;

                var user = {
                    "id_user": this.id_user,
                    "display_name": this.display_name,
                    "last_name": this.last_name,
                    "email": this.email,
                }

                window.localStorage.setItem('user', JSON.stringify(user));

                alert("Usuario modificado con éxito");
            }
        }

        window.customElements.define(Profile.is, Profile);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>