<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">
<script src="../../node_modules/redux/dist/redux.js"></script>
<script>
	const initial = {
		isLogged: false,
		id_user: null,
		//urlBackend: "http://localhost:3000"
		urlBackend: "https://techu-techu-bpjjsa.7e14.starter-us-west-2.openshiftapps.com"
	};
	const reducer = (state = initial, action) => {
		console.log("reducer");
		console.log("previous state: ");
		console.log(state);
		console.log("action: ");
		console.log(action.type);

		switch (action.type) {
			case 'UPDATE_REDUX_SESSION':
				var newState = {
					id_user: action.message.id_user,
					isLogged: action.message.isLogged,
					display_name: action.message.display_name,
					last_name: action.message.last_name,
					email: action.message.email,
					last_acces_date: action.message.last_acces_date,
					bbva_user: action.message.bbva_user
				}

				return Object.assign({}, state, newState);
			default:
				return state;
		}
	};
	const store = Redux.createStore(reducer);
	ReduxMixin = PolymerRedux(store);
</script>
