<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="show-navbar">
    <template>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/index.html"><img src="/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar">1</span>
                    <span class="icon-bar">2</span>
                    <span class="icon-bar">3</span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class$="nav-item{{activeHome}}" id="home"><a class="nav-link" href="/index.html">Home</a></li>
                        <template is="dom-if" if="{{isLogged}}">
                            <template is="dom-if" if="{{!user_id}}">
                                <li class$="nav-item{{activeDashboard}}" id="dashboard"><a class="nav-link" href="/dashboard/{{id_user}}">Dashboard</a></li>
                                <li class$="nav-item{{activeProfile}}" id="profile"><a class="nav-link" href="/profile/{{id_user}}">Profile</a></li>
                            </template>
                            <template is="dom-if" if="{{user_id}}">
                                <li class$="nav-item{{activeDashboard}}" id="dashboard"><a class="nav-link" href="/dashboard/{{user_id}}">Dashboard</a></li>
                                <li class$="nav-item{{activeProfile}}" id="profile"><a class="nav-link" href="/profile/{{user_id}}">Profile</a></li>
                            </template>
                        </template>

                        <template is="dom-if" if="{{!isLogged}}">
                            <template is="dom-if" if="{{showLogged}}">
                                <template is="dom-if" if="{{id_user}}">
                                    <li class$="nav-item{{activeDashboard}}" id="dashboard"><a class="nav-link" href="/dashboard/{{id_user}}">Dashboard</a></li>
                                    <li class$="nav-item{{activeProfile}}" id="profile"><a class="nav-link" href="/profile/{{id_user}}">Profile</a></li>
                                </template>
                                <template is="dom-if" if="{{!id_user}}">
                                    <li class$="nav-item{{activeDashboard}}" id="dashboard"><a class="nav-link" href="/dashboard/{{user_id}}">Dashboard</a></li>
                                    <li class$="nav-item{{activeProfile}}" id="profile"><a class="nav-link" href="/profile/{{user_id}}">Profile</a></li>
                                </template>
                            </template>
                            <template is="dom-if" if="{{!showLogged}}">
                                <li class="nav-item"><a class="nav-link" href="/about-us.html">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="/service.html">Services</a>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/portfolio.html">Portfolio</a>
                                        <li class="nav-item"><a class="nav-link" href="/portfolio-details.html">Portfolio
                                                Details</a>
                                        <li class="nav-item"><a class="nav-link" href="/elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            </template>
                        </template>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="nav-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="nav-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li class="nav-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class NavBar extends SessionMixin(Polymer.Element) {

            static getUserParam(param) {
                console.log("navbar - getUserParam(" + param + ")");

                // pagina activa
                if (param.indexOf("active") != -1) {
                    var urlLocation = window.top.location + "";
                    var page = param.slice("active".length, param.length).toLowerCase();

                    console.log("urlLocation: " + urlLocation);
                    console.log("page: " + page);

                    if (urlLocation.indexOf(page) != -1) {
                        return " active";
                    } else if (urlLocation.indexOf("/") == -1) {
                        return " active";
                    }
                }

                // informacion del usuario
                var user = window.localStorage.getItem('user');

                if (user) {
                    if (param == "showLogged") {
                        console.log("showLogged = true");
                        return true;
                    } else {
                        var jsonUser = JSON.parse(user);
                        console.log(jsonUser[param]);
                        return jsonUser[param]
                    }
                }

                return null;
            }

            static get is() { return 'show-navbar'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                var supProp = super.properties;
                return Object.assign({}, supProp, {
                    user_id: {
                        type: Number,
                        value: this.getUserParam("id_user")
                    },
                    loginErrors: {
                        type: Boolean,
                        value: false
                    },
                    loginErrorsList: {
                        type: Array
                    },
                    showLogged: {
                        type: Boolean,
                        value: this.getUserParam("showLogged")
                    },
                    activeHome: {
                        type: String,
                        value: this.getUserParam("activeIndex")
                    },
                    activeDashboard: {
                        type: String,
                        value: this.getUserParam("activeDashboard")
                    },
                    activeProfile: {
                        type: String,
                        value: this.getUserParam("activeProfile")
                    }
                });
            }

            _observeStore(newValue, oldValue) {
                console.log("_observeStore show-navbar");
                console.log("newValue");
                console.log(newValue);
                console.log("oldValue");
                console.log(oldValue);
            }
        }

        window.customElements.define(NavBar.is, NavBar);
    </script>
</dom-module>